<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.musicalstructure">



    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.CHOOSER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Albums" />
        <activity android:name=".music" />
        <activity android:name=".NowPlaying">
        <intent-filter>
            <action android:name="android.intent.action.CHOOSER" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <service  android:enabled="true" android:name=".MediaPlaybackService" />

    </application>



</manifest>